/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 80px;
  padding-bottom: 70px;
}
footer {
  padding: 30px 0;
}
.img-member {
  width: 100px;
  height: 100px;
  float: right;
  margin-left: 5px;
}
